body {
    display: flex;
    height: 70px;
    width: 100px;
    padding: 10px;
}
.main {
    display: grid;
    grid-template-columns: auto auto;
    margin: 10px 10px 0 20px;
    width: 100px;
    padding:10px 10px 0 20px;
}
.first {
    background-color: cadetblue;
    display: grid;
    grid-template-columns: auto auto ;
    padding: 300px 0 300px 0; 
    height: 100px;


}
.first h1 {
    font-size: 30px;
}
.first h3 {
    font-size: 20px;
}

.first1 img{
    align-items: center;
    padding: 0px 0px 10px 90px;
    height:200px;
    width:300px;
}
.first2 {
    align-items: center;
    padding: 0px 0px 400px 0px;
    margin-left: 0 ;
    margin-right: 300px;
}
.second {
    background-color: rgb(183, 213, 214);
    padding-left:40px ;
    margin-right:50px ;
    height: 

}
.second1 {
    display: grid;
    grid-template-columns: auto auto;
}
.second3 {
    display:grid;
    grid-template-columns: auto auto ;
    }
.second31 img {
    height: 100px;
    width: 150px;
    padding:50px 0 0 30px;

}
.second2 {
    display: grid;
    grid-template-columns: 4fr 8fr;
}
.second21 {
    height: 100px;
    width:  100px;
    padding:200px 100px 0 30px;

}
.second32 { 
    align-items: center;
    padding: 0px 0px 20px 0px;
    margin-left: 0 ;
    margin-right: 300px;
}
.second22 {
    padding: 200px ;
}
