/* * {
    padding: 0;
    margin: 0;
} */
.one {
    background-color: rgb(178, 178, 194);
    margin: 15px 4px 15px 4px ;
    padding: 20px 20px 20px 20px;
    border-style: double;
    color:rgb(14, 31, 2);
    height: 40px;
}
.two {
    background-color: rgb(200, 27, 183);
    margin: 10px 5px 10px 5px ;
    padding: 4px 8px 4px 8px;
    border-style: hidden;
    height:40px;
}
.three {
    background-color: rgb(23, 200, 182);
    margin: 15px 4px 15px 4px ;
    padding: 6px 3px 6px 3px;
    border-style: groove;
    height: 40px;
}
.four {
    background-color: rgb(84, 19, 136);
    margin: 15px 4px 15px 4px ;
    padding: 6px 10px 6px 10px;
    border-style: dotted;
    color: aliceblue;
    height: 40px;
}
.five {
    background-color: rgb(8, 99, 41);
    margin: 0px 4px 4px 0px ;
    padding: 20px 10px 20px 10px;
    border-style: dashed;
    height: 30px;
}
